/*Global styles
*********************/

/* border box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1,h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1{
    font-size: 80 px;
}

h2{
    font-size: 40px;
    margin-top: 0;
}

a{
    color: #EF233C
}

a:hover{
    text-decoration: none;
}

.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}
/*

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
}
*/

.btn{
    text-decoration: none;
    background: #EF233C;
    color: white;
    padding: 10px;
    display: inline-block;
}

.btn:hover{
    background: white;
    color: #EF233C;
}



/* Header and footer
**********************/
header, footer {
    background: #2B2D42;
  color: #8D99AE;
}

header{
    text-align: center;
    padding-top: 50px;
}
header h1, header h2{
    color: #EDF2F4;
    margin: 0;
}

footer {
  text-align: center;
}
.contact-info a {
/*    background-color: white;*/
    color: white;
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
    font-size: 3em;
}


.profile-img{
    width: 300px;
    border-radius: 50%;
}

nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
/* Work Experience
**********************/
.Work{
    background-color: #EDF2F4;
}


/* Education
**********************/
.Education {
    background-color: #8D99AE;
}